.i-home {
    font-size: 15px;
    border-radius: 50%;
    border-style:solid;
   border-color: #fff;
   border-width: 1px;
   padding:10px;
   color: #fff;   
}
.home-icon a{
    margin:5px;
}
.col{
    background-color:#263545 ;
    color: #fff;
}
#footer{
    background-color: #1A252F;
    color:#fff
}