<div class="container-fluid navy fixed-top">
  <nav class=" navbar navbar-expand-lg">
    <div class="container  d-flex justify-content-between">
      <a class="navbar-brand navSize" routerLink="#">START FRAMEWORK</a>

      <div class=" collapse navbar-collapse" id="navbarNav">
        <ul class=" navbar-nav mx-auto">
          <li class="nav-item navColor ">
            <a class="nav-link" aria-current="page" routerLink="about"routerLinkActive="linked rounded">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio"routerLinkActive="linked rounded">Portfolio</a>
          </li>

          <li class=" nav-item">
            <a class="nav-link" routerLink="contact"routerLinkActive="linked rounded">contact</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
</div>
