<div class="container-fluid">
    <div class="row">
<div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
  <h1 class="">CONATCT SECTION</h1>
  <div class=" inRel mb-3">  
    <label class="coloring mb-3"[class.d-none]=isHide>{{labelUserName}} :</label>

    <input type="text"(keydown)="display()" (keydown.Backspace)="check()"class="w-100 form-control"[placeholder]= labelUserName [(ngModel)]="text"/>     
    </div>
    <div class="inRel mb-3 ">
      <label class="coloring mb-3"[class.d-none]=isHide2>{{labelUserAge }}: </label>

      <input type="text" (keydown)="display2()"(keydown.Backspace)="check2()" class="w-100 form-control"[placeholder]=labelUserAge [(ngModel)]="text2">
    </div>
    <div class="inRel mb-3 ">
      <label class="coloring mb-3"[class.d-none]=isHide3>{{labelUserEmail}} :</label>

      <input type="email"(keydown)="display3()" (keydown.Backspace)="check3()" class="w-100 form-control"[placeholder]=labelUserEmail [(ngModel)]="text3">
    </div>
    <div class="mb-3 inRel ">
      <label class="coloring mb-3"[class.d-none]=isHide4>{{labelUserPssword}} : </label>

      <input type="password"(keydown)="display4()" (keydown.Backspace)="check4()" class="w-100 form-control"[placeholder]=labelUserPssword [(ngModel)]="text4">
    </div>
    <div class="mb-3 inRel">

      <button type="button" class="btn btn-info">Send Message</button>
    </div>

</div>
      
    </div>
</div>

